.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-image: url("../img/footer-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 103%;
  .copyright{
    width: 15%;
  }
}

.backto-top{
  position: fixed;
  bottom: 60px;
  right: 150px;
}

@media(max-width:768px){
  .footer{
    .copyright{
      width: 25%;
    }
  }
  .backto-top{
    position: fixed;
    bottom: 80px;
    right: 100px;
  }
}

@media(max-width:360px){
  .footer{
    height: 40px;
    background-size: cover;
    .copyright{
      width: 35%;
    }
  }
  .backto-top{
    position: fixed;
    bottom: 45px;
    right: 25px;
    & > img{
      width: 80%;
    }
  }
}