.navbar-wrapper {
  position:fixed;
  width:100%;
  background: white;
  z-index: 9999;
  display:flex;
  justify-content: space-between;
  padding: 0 150px;
  box-shadow:0px 1px 10px rgba(123, 123, 123, 0.29);
  box-sizing: border-box;
  .navbar-hamburger{
    display: none;
  }
  .navbar-logo {
    background-image: url('../img/logo.png');
    width: 110px;
    height: 80px;
    background-size: 60%;
    background-repeat: no-repeat;
    color: transparent;
    background-position: center center;
  }
  .navbar-list {
    display: flex;
    align-items: center;
    .navbar-item{
      display: inline-block;
      width: 120px;
      height: 80px;
      background-size: 60%;
      background-repeat: no-repeat;
      color: transparent;
      background-position: center center;
    }
    .navbar-icon{
      display: inline-block;
      width: 40px;
      height: 80px;
      margin:0 10px;
      background-size: 80%;
      background-repeat: no-repeat;
      color: transparent;
      background-position: center center;
    }
  }
  .home-menu{
    background-image: url('../img/home.png');
    &:active{
      background-image: url('../img/home-hover.png');
    }
  }
  .about-menu{
    background-image: url('../img/about.png');
    &:active{
      background-image: url('../img/about-hover.png');
    }
  }
  .works-menu{
    display: none !important;
    background-image: url('../img/works.png');
    &:active{
      background-image: url('../img/works-hover.png');
    }
  }
  .contact-menu{
    background-image: url('../img/contact.png');
    &:active{
      background-image: url('../img/contact-hover.png');
    }
  }
  .linked-icon{
    background-image: url('../img/linked.png');
    &:active{
      background-image: url('../img/linked-hover.png');
    }
  }
  .github-icon{
    background-image: url('../img/github.png');
    &:active{
      background-image: url('../img/github-hover.png');
    }
  }
}

/* menu-ipad */
@media(max-width:768px){
  .navbar-wrapper{
    padding: 0 80px;
    .navbar-list{
      max-height: 0px;
      overflow: hidden;
      transition: max-height 1.3s;
      position: fixed;
      z-index: 10;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.is-active{
        max-height: 1200px;
      }
      .navbar-item{
        background-size: 60%;
        background-repeat: no-repeat;
        color: transparent;
        padding: 30px;
        background-position: center center;
      }
      .navbar-icon{
        width: 25px;
        height: 25px;
        padding: 10px 10px;
        margin-top: 10px;
        background-size: 80%;
        background-repeat: no-repeat;
        color: transparent;
        background-position: center center;
      }
    }
    .navbar-hamburger{
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* menu-mobile */
@media(max-width:360px){
  .navbar-wrapper{
    padding: 0 30px;
    box-shadow:0px 1px 10px rgba(123, 123, 123, 0.29);
    .navbar-logo{
      background-image: url('../img/logo.png');
      width: 40px;
      height: 30px;
      background-size: 80%;
      background-repeat: no-repeat;
      padding: 20px 20px 20px 0px;
      color: transparent;
      background-position: center center;
    }
    .navbar-list{
      max-height: 0px;
      overflow: hidden;
      transition: max-height 1.3s;
      position: absolute;
      z-index: 10;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.is-active{
        max-height: 400px;
      }
      .navbar-item{
        display: inline-block;
        width: 60px;
        height: 30px;
        background-repeat: no-repeat;
        color: transparent;
        background-position: center center;
        background-size: 55%;
        padding: 20px;
      }
      .navbar-icon{
        width: 25px;
        height: 25px;
        padding: 10px 10px;
        margin-top: 10px;
        background-size: 80%;
        background-repeat: no-repeat;
        color: transparent;
        background-position: center center;
      }
    }
    .navbar-hamburger{
      display: flex;
      justify-content: center;
      align-items: center;
      .hamburger-image{
        width: 80%;
      }
    }
  }
}
