.hero-section{
  height: 688px;
  position: relative;
  padding-bottom: 80px;
  .banner-flycat{
    position: absolute;
    top: 10%;
    left: 14%;
  }
  .banner-butcat{
    position: absolute;
    top: 15%;
    left: 48%;
  }
  .banner-stantcat{
    position: absolute;
    top: 8%;
    right: 12%;
  }
  .banner-sitcat{
    position: absolute;
    bottom: 17%;
    right: 10%;
  }
  .banner-backcat{
    position: absolute;
    top: 65%;
    left: 10%;
  }
  .words-welcome{
    position: absolute;
    top: 40%;
    left: 13%;
    transform: rotate(355deg)
  }
  .words-to{
    position: absolute;
    top: 30%;
    right: 30%;
  }
  .words-my{
    position: absolute;
    top: 45%;
    right: 18%;
  }
  .words-cats{
    position: absolute;
    bottom: 18%;
    left: 32%;
  }
  .words-world{
    position: absolute;
    bottom: 25%;
    right: 28%;
    transform: rotate(5deg)
  }
  .hero-section-line{
    padding-top: 708px;
    margin-bottom: 40px;
    .line-pic{
      height: 60px;
      background-image: url("../img/banner-line.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 90%;
    }
  }
}

/* hero-ipad */
@media(max-width:768px){
  .hero-section{
    padding-bottom: 10px;
    .banner-flycat{
      width: 25%;
      top: 8%;
      left: 10%;
    }
    .banner-butcat{
      width: 13%;
      top: 25%;
      left: 48%;
    }
    .banner-stantcat{
      width: 20%;
      top: 5%;
      right: 10%;
    }
    .banner-sitcat{
      width: 15%;
      bottom: 20%;
      right: 10%;
    }
    .banner-backcat{
      width: 18%;
      top: 55%;
      left: 6%;
    }
    .words-welcome{
      width: 32%;
      top: 30%;
      left: 10%;
      transform: rotate(345deg)
    }
    .words-to{
      width: 8%;
      top: 30%;
      right: 25%;
    }
    .words-my{
      width: 9%;
      top: 35%;
      right: 12%;
    }
    .words-cats{
      width: 15%;
      bottom: 30%;
      left: 35%;
    }
    .words-world{
      width: 22%;
      bottom: 40%;
      right: 18%;
      transform: rotate(350deg)
    }
    .hero-section-line{
      padding-top: 600px;
      margin-bottom: 10px;
    }
  }
}

@media(max-width:360px){
  .hero-section{
    height: 680px;
    padding-bottom: 10px;
    .banner-flycat{
      width: 45%;
      top: 63%;
      left: 10%;
    }
    .banner-butcat{
      width: 23%;
      top: 4%;
      left: 12%;
    }
    .banner-stantcat{
      width: 35%;
      top: 5%;
      right: 7%;
    }
    .banner-sitcat{
      width: 25%;
      bottom: 15%;
      right: 15%;
    }
    .banner-backcat{
      width: 33%;
      top: 35%;
      left: 56%;
    }
    .words-welcome{
      width: 45%;
      top: 26%;
      left: 39%;
      transform: rotate(5deg)
    }
    .words-to{
      width: 12%;
      top: 36%;
      right: 73%;
    }
    .words-my{
      width: 15%;
      top: 38%;
      right: 50%;
      transform: rotate(5deg)
    }
    .words-cats{
      width: 23%;
      bottom: 45%;
      left: 15%;
    }
    .words-world{
      width: 33%;
      bottom: 42%;
      right: 16%;
      transform: rotate(5deg)
    }
  }
}